[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anchor-escrow-q1-2026 = "9oK2oY16rMQ3b3NvuJXkuLyNqLXk7t7aoaSfkdeAZA4X"
anchor_vault_q1_2026 = "FWdRhCmLTm7gBxF4zFEHmQBEyjQFxDznkfZaz3E6QtGu"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 95000 \"tests/**/*.ts\""
#test = "npx tsx --test --test-timeout=95000 \"tests/**/*.ts\""
